<h1>
  ngx-security demo
</h1>

<div>
  <button (click)="switchAuthentication()">Switch auth</button>
  <button (click)="toggleFoo()">Toggle foo</button>
</div>

<app-sample *secuIsAuthenticated></app-sample>

<div>
  <b>Authenticated ?</b>&nbsp;
  <span *secuIsAuthenticated>YES</span>
  <span *secuIsAnonymous>NO</span>
</div>

<div>
  <b>HasRoles('ADMIN', 'USER') ?</b>&nbsp;
  <span *secuHasRoles="['ADMIN', 'USER']; else roleElse">YES</span>
  <ng-template #roleElse>
    <span>NO</span>
  </ng-template>
</div>

<div>
  <b>HasAnyRoles('X', 'Y', 'Z') ?</b>&nbsp;
  <span *secuHasAnyRoles="['X', 'Y', 'Z']; else roleElse">YES</span>
  <ng-template #roleElse>
    <span>NO</span>
  </ng-template>
</div>


<div>
  <b>IsMemberOf('GROUP_A') ?</b>&nbsp;
  <span *secuIsMemberOf="'GROUP_A'; else memberElse">YES</span>
  <ng-template #memberElse>
    <span>NO</span>
  </ng-template>
</div>



<div>
  <b>HasPermission('simple') ?</b>&nbsp;
  <span *secuHasPermissions="'simple'; else permElse">YES</span>
  <ng-template #permElse>
    <span>NO</span>
  </ng-template>
</div>



<div>
  <b>HasPermission('foo', {{'{'}}foo: {{foo.value}}{{'}'}}) ?</b>&nbsp;
  <span *secuHasPermissions="'foo'; resource: foo; else permElse">YES</span>
  <ng-template #permElse>
    <span>NO</span>
  </ng-template>
</div>


<div>
  <b>Pipe HasRoles('ADMIN', 'USER') ?</b>&nbsp;
  <span>{{['USER','ADMIN'] | secuHasRoles | async}}</span>
</div>
<div>
  <b>Pipe HasAnyRoles('X', 'Y', 'Z') ?</b>&nbsp;
  <span>{{['X', 'Y', 'Z'] | secuHasAnyRoles | async}}</span>
</div>
<div>
  <b>Pipe IsMemberOf('GROUP_A') ?</b>&nbsp;
  <span>{{['GROUP_A'] |  secuIsMemberOf | async}}</span>
</div>
<div>
  <b>Pipe HasPermission('simple') ?</b>&nbsp;
  <span>{{['simple'] |  secuHasPermissions | async}}</span>
</div>
<div>
  <b>Pipe HasPermission('foo', {{'{'}}foo: {{foo.value}}{{'}'}}) ?</b>&nbsp;
  <span>{{'foo' |  secuHasPermissions:foo | async}}</span>
</div>
