<h1>
  ngx-security demo
</h1>

<div>
  <button (click)="switchAuthentication()">Switch auth</button>
</div>

<div>
  <b>Authenticated ?</b>&nbsp;
  <span *secuIsAuthenticated>YES</span>
  <span *secuIsAnonymous>NO</span>
</div>

<div>
  <b>HasRole('ADMIN') ?</b>&nbsp;
  <span *secuHasRole="'ADMIN'; else roleElse">YES</span>
  <ng-template #roleElse>
    <span>NO</span>
  </ng-template>
</div>


<div>
  <b>IsMemberOf('GROUP_A') ?</b>&nbsp;
  <span *secuIsMemberOf="'GROUP_A'; else memberElse">YES</span>
  <ng-template #memberElse>
    <span>NO</span>
  </ng-template>
</div>
